extends layout

block content 
  .max-w-md.mx-auto.mt-10
    h2.text-2xl.font-bold.mb-4 Login
    form(action="/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" id='loginForm')
      .mb-4
        label.block.text-gray-700.text-sm.font-bold.mb-2(for="username") Username
        input#username(type="text" name="username" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
      .mb-4
        label.block.text-gray-700.text-sm.font-bold.mb-2(for="password") Password
        input#password(type="password" name="password" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
      .flex.items-center.justify-between
        button(type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") Log In
      .mb-4.flex.items-center.justify-between
        p Not have an account, then
        a(href="/sign-up" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") Sign Up