extends layout

block content

  .max-w-md.mx-auto.mt-10
    if errors
      ul 
        for error in errors 
          li #{error.msg}
    h2.text-2xl.font-bold.mb-4=title
    form(action="/sign-up" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" id='signUpForm')
      .mb-4
        label.block.text-gray-700.text-sm.font-bold.mb-2(for="name") Full Name
        input#name(type="text" name="name" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
      .mb-4
        label.block.text-gray-700.text-sm.font-bold.mb-2(for="username") Username
        input#username(type="text" name="username" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
      .mb-4
        label.block.text-gray-700.text-sm.font-bold.mb-2(for="password") Password
        input#password(type="password" name="password" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
      .mb-6
        label.block.text-gray-700.text-sm.font-bold.mb-2(for="confirmPassword") Confirm Password
        input#confirmPassword(type="password" name="confirmPassword" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
      .flex.items-center.justify-between
        button(type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") Sign Up
      br
      br 
      br
      .mb-4.flex.items-center.justify-between
        p Already have an account, then
        a(href="/login" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") Login





  script(src="/javascripts/signUpValidation.js") 
